# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/server/.env

/file-manager/node_modules
/file-manager/.env

# Logs
/admin-app/logs
*.log
/admin-app/npm-debug.log*
/admin-app/yarn-debug.log*
/admin-app/yarn-error.log*
/admin-app/pnpm-debug.log*
/admin-app/lerna-debug.log*

/admin-app/node_modules
/admin-app/dist
/admin-app/dist-ssr
*.local

/product-app/logs
/product-app/npm-debug.log*
/product-app/yarn-debug.log*
/product-app/yarn-error.log*
/product-app/pnpm-debug.log*
/product-app/lerna-debug.log*

/product-app/node_modules
/product-app/dist
/product-app/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
