.aboutUserWr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userWr {
  margin-top: 50px;
  background-color: #f0f2f1;
  padding: 10px;
  border-radius: 2px;
}

.containerUser {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  background-color: #f0f2f1;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 3px 3px 3px;
  opacity: 0.8;
}

.userAvatar {
  width: 150px;
  height: 150px;
  padding: 15px;
  opacity: 0.6;
}

.user {
  width: 150px;
  height: 150px;
}

.aboutUser {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h4 {
  margin: 0;
  opacity: 0.9;
}

.aboutUserBtn {
  text-align: center;
}

.btn {
  background-color: #8fc0ad;
  color: white;
  border: none;
  border: 1px solid #6c6c6c49;
  border-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
}

.btn:hover {
  box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.link {
  margin-top: 50px;
  padding: 10px 3px;
  border: none;
  text-decoration: inherit;
  color: rgb(255, 255, 255);
  background-color: #8fc0ad;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid white;
}

.link > span {
  border: 1px solid white;
  padding: 6px 12px;
}

.link:hover {
  box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.link:active {
  background-color: #6c6c6c;
}
