.containerHeader {
  color: black;
  border-bottom: 2px solid #F0F2F1;
}

.containerColor{
  background-color: #8FC0AD;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerWr {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

li {
  border-right: 1px solid white;
  padding: 7px;
}
li:first-child {
  border-left: 1px solid white;
}

.Link {
  text-decoration: none;
  color: white;
}

.containerHeaderProfile {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.containerPhone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.imgPhone {
  width: 20px;
  height: 20px;
}

.containerProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.btn {
  border-radius: 3px;
  border: 1px solid #6C6C6C;
  color: white;
  background-color: #8FC0AD;
}
