.productCardWr {
    min-height: 400px;
    min-width: 292px;
    margin-bottom: 30px;
}

.imgWr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F1;
    padding: 10px 10px;   
}

.imgWr:hover {
    background-color: #6c6c6c;
    opacity: 0.7;
}

.imgWr>img {
    min-height: 300px;
    min-width: 265px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid white;
}

.textWr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    opacity: 0.8;
}

.starTrue{
    color: rgb(226, 226, 2);
}

.rating {
    margin: 0;
}

.rating>span {
    margin: 0px 3px;
}