
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 35px 80px 50px auto 50px;
  min-width: 532px;  
}

<<<<<<< HEAD
body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

=======
.App>* {
  padding: 0 calc(50% - 600px);
}

@media (max-width: 1260px) {
  .App>* {
    padding: 0 30px;
  }  
}

@media (max-width: 800px) {
  .App>* {
    padding: 0 10px;
  }  
}
>>>>>>> dev
