
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 30px 100px 50px auto 50px;
  /* min-width: 556px;   */
  min-width: 750px; 
}

.App>* {
  padding: 0 calc(50% - 600px);
}

@media (max-width: 1260px) {
  .App>* {
    padding: 0 10px;
  }  
}
